/* .navbar{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.navbar {
    position: fixed;
  
     z-index: 1; 
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
align-items: center;
    width: 100%;
    height: 10vh;
    /* margin-top: 8px; */
border: none;
    justify-content: space-between;

  }
.logo{
    width: 200px;
    height: 122px ;
    padding: 29px;
    

}
.navbtn{

    margin-right: 18px;
    Width:160px;
    /* margin-top: 28px; */
    height:46px;
    Left:1670px;
    border: 1px solid grey;
    border-radius:4px;
    Border: 1px;
    padding: 19px;

}
@media (max-width: 768px) {
    .logo{
        width: 150px;
        height: 100px ;
        padding: 21px;
    
    }
}