.producerNavbar {
    display: flex;
align-items: center;
    width: 100%;
    height: 10vh;
/* background-color: aqua; */
border: none;
    justify-content: space-between;

  }
.logo{
    width: 200px;
    height: 122px ;
    padding:39px;
    

}
.next{
    display: flex;
    padding:39px;
    gap: 34px;
    align-items: center;
}
.nextplz{
    display: none;
}
.next p{
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0.01em;
text-align: right;
color: #B6C5D6;
}
.icon{
    height: 80%;
    /* text-align: center; */
}

.drops{
    background-color: aqua;
    width: 120%;
    margin-right: 20px;
    padding: 12px;
}
.drop{
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    
}
@media (max-width:768px) {
    .logo{
        width: 180px;
        height: 90px ;
        padding:15px;
        /* z-index: -1; */
    color: white;
    }
    .producerNavbar{
        background-color: lightblue;
    }
    .next{
        display: flex;
        padding:42px;
        gap: 4px;
        align-items: center;
    }
    .next{
        display: none;
        padding:39px;
        gap: 34px;
        align-items: center;
    }
    .nextplz{
        display: flex;
        margin-right: 29px;
        font-size: 34px;
    }
}