.item {
    background-image: url('../Landingpages/Landingpagepic/bg-white.png');
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-color: orangered; 
    width: 100%;
    flex-wrap: nowrap;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;



  }

  
  .dott{
  
    
    padding-left: -30px;

  }
  .landingpic{
    padding-top: 22px;
    width: 100%;
    /* height: 800px; */
  }
  .landingpagedots{
    width: 40%;
    padding-top: 10px;
    margin-top: 51px;

  }
  .datavaltext{
    /* height: 412px; */
    /* width: 470px; */
/* background-color: #192E46; */
    /* margin-left:90px; */
    /* margin-right: -44px; */
/* margin-top:90px; */
/* background-color: #bbc0c7; */
width: 55%;
height: auto;
}
.datavaltext h3{
color: #192E46;
font-weight: 800;
font-Size:59px;
text-align: start;

Line-height:58px
}
.landingtextp{
color: #4C6889;
/* #4C6889 */
font-size: 18px;
font-weight: 400;
margin-top: 50px;
line-height: 18px;
letter-spacing: 0.02rem;
line-height: 22px;
text-align: left;
}
.section:nth-child(odd) .item{
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .item{
    
        align-items: center;
        height: 100%;
        justify-content:space-around;
        margin-top: -28px;

    }
    .section{
         }
    .section:nth-child(even) .item{
      flex-direction: column-reverse;
    }
    .section:nth-child(odd) .item{
      flex-direction: column-reverse;
    }
    .datavaltext{
        width:100%;
        margin-left: 0px;
        margin-top: 59%;

                }
        .landingpic{
            width: 100%;
            margin-left: 1px;
            margin-top: -8px;
                }
          .landingpic img{
            margin-top: -8px;

          }
          .landingpagedots{
            width: 90%;
            padding-top:2px;
            margin-left: 21px;
            margin-top: 1px;
        display: none;
          }
          .datavaltext h3{
            font-size: 39px;
            font-weight: 800;
            line-height: 45px;
            text-align: center;
            color: #192E46;
            margin-top: -8px;
            
    }
  
    .landingtextp{
      color: #4C6889;
      font-size: 20px;
      font-weight: 400;
      margin-top: 10px;
      line-height: 20px;
      letter-spacing: 0.02rem;
      line-height: 22px;
      text-align: center;
      }
      
}